/* Style umum */
html {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

p {
    margin-bottom: 20px;
    font-size: 16px;
}

.text-center {
    text-align: center;
}

.pb-0 {
    padding-bottom: 0;
}

.bg-primary {
    background-color: #372925;
}

.text-white {
    color: #fff;
}

/* Button */
.mt-2 {
    margin-top: 20px;
}

.btn-primary {
    background-color: #372925;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    border-radius: 25px;
    display: inline-block;
}

.btn-order {
    background-color: #ffffff;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}

.btn-order:hover {
    background-color: #eee;
}

/* Style untuk navigation */
.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    border-bottom: 1px solid #e7ebed;
    padding: 15px 150px;
    transition: 0.5s all ease-in-out;
}

.fixed-top {
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    padding: 0 150px;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1;
}

.navigation .logo {
    text-decoration: none;
    font-size: 20px;
    font-weight: 800;
    font-family: 'Playfair Display', serif;
    color: #372925;
    display: flex;
    align-items: center;
    gap: 15px;
}

.navigation .logo img {
    width: 50px;
    border-radius: 50%;
}

.navigation .navigation-menu {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
}

.navigation .navigation-menu a {
    color: black;
    display: block;
    text-decoration: none;
    font-size: 15px;
}


.navigation .navigation-menu a:hover {
    color: #ff2f00;
}

.navigation .navigation-menu li:nth-child(6) {
    border-right: 1px solid #999;
    padding-right: 20px;
}

.navigation .navigation-menu a.contact {
    width: 30px;
    height: 30px;
    border-radius: 25px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation .navigation-menu a.contact.ig {
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.navigation .navigation-menu a.contact.wa {
    background-color: #48DB58;
}

.navigation .navigation-menu .btn-registration {
    background-color: #372925;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 25px;
    font-weight: 500;
}

/* Dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-toggle {
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    list-style: none;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #e7ebed;
}

.dropdown-menu li a {
    display: flex !important;
    padding: 10px 15px;
    text-align: left;
    border-radius: 10px;
    padding: 10px 15px;
    border-radius: 10px;
    gap: 5px;
    align-content: center;
}

.dropdown-menu li a:hover {
    background-color: #fd5949;
    color: #fff !important;
}

.show {
    display: block;
}

/* Header */
.hero {
    padding: 50px 150px;
    height: 500px;
    display: flex;
    background-image: url('../img/bg-hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;

}

.hero-title {
    width: 50%;
}

.hero-title h1 {
    font-size: 50px;
    font-family: 'Agbalumo';
}

.hero-title p {}

/* Section */
section {
    padding: 50px 150px;
    position: relative;
}

.section-alignment {
    display: flex;
    gap: 50px;
}

section .section-title {
    font-size: 50px;
    position: relative;
    font-family: 'Agbalumo';
}

/* section .section-title::before {
    content: "";
    display: block;
    width: 60px;
    height: 5px;
    background: #372925;
    left: 32%;
    top: 50%;
    position: absolute;
} */

section .section-image {
    width: 45%;
}

section .section-image img {
    width: 100%;
}

section .section-image .order-img {
    position: absolute;
    width: auto;
    bottom: 0;
}

section .section-content {
    width: 55%;
    position: relative;
}

section .section-content p {
    line-height: 1.5;
}

/* Quality */
.qualtiy {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.qualtiy .item {
    flex: 1 1 50%;
    padding: 15px;
    border: 1px solid #e7ebed
}

.qualtiy .item:hover {
    background-color: #372925;
    color: #fff;
}

.qualtiy .item:hover .icon {
    background-color: #fff;
}

.qualtiy .item:hover .icon i {
    color: #372925;
}

.qualtiy .item .icon {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #372925;
}

.qualtiy .item .icon i {
    color: #ffffff;
    font-size: 24px;
}

.qualtiy .item h5 {
    font-size: 16px;
}

.qualtiy .item p {
    font-size: 14px;
}

/* Gallery */
.gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.gallery .item {
    flex: 1 1 30%;
    overflow: hidden;
    margin: 0 auto;
}

.gallery .item img {
    width: 100%;
    transition: 0.5s all ease-in-out;
}

.gallery .item:hover img {
    transform: scale(1.2);
}

/* Article */
.article {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.article .item {
    flex: 1 1 30%;
    overflow: hidden;
    margin: 0 auto;
}

.article .item img {
    width: 100%;
    transition: 0.5s all ease-in-out;
}

.article .item .article-title {
    display: block;
    margin: 5px 0 15px;
    font-size: 20px;
}

.article .item .btn-link {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    background-color: #372925;
    color: #fff;
    font-size: 14px;
    border-radius: 25px;
    font-weight: 500;
    padding: 10px 15px;
}


/* Order */
.form-group {
    margin-bottom: 20px;
}

.form-group .form-label {
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
}

.form-group .form-input {
    padding: 12px 15px;
    outline: none;
    width: 100%;
    border-radius: 10px;
    border: 0;
}

/* Contact Us */
.text-muted-sm {
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 0;
}

.address,
.social-media {
    list-style: none;
    padding-left: 0;
}

.address li {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.address li:first-child .icon {
    width: 38px;
}

.address li .icon {
    width: 30px;
    height: 30px;
    padding: 5px;
    background-color: #372925;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
}

.address li .icon i {
    font-size: 24px;
}

.social-media li.title {
    display: block;
}

.social-media {
    display: flex;
    gap: 10px;
}

.social-media li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 25px;
    border: 1px solid #e7ebed;
    color: black;
    text-decoration: none;
}

.social-media li a:hover {
    background-color: #372925;
    color: #fff;
}

/* Footer */
footer {
    padding: 15px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #372925;
}

footer p {
    color: gray;
    font-size: 14px;
    margin: 0;
}